@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap');

/* General Settings */
body {
  margin: 0;
  color: #242424;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior:smooth;
  background-color: #ffffdd !important;
}

::-moz-selection {
  background: #FFD437 !important;
  color: #444452 !important;
}
::selection {
  background: #FFD437 !important;
  color: #444452 !important;
}

input:focus, button:focus, select:focus{
  outline: none;
}

input, button, select {
  cursor: pointer;
}

