/* Join Page */
.join__box {
    width: 30vw;
    height: 35vh;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px 0;
    border: none !important;
    border-radius: 5px;
    background: #ffffff;
    box-shadow:  3px 3px 2px #242424;
}
  
.join__box input,
.join__box select {
    width: 80%;
    height: 30px !important;
    padding: 0;
    margin: 20px auto;
}

.join__box select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
  
.join__box button {
    width: 80%;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0 auto;
    border-radius: 50px;
    background: #cbeaed;
    border: none !important;
    margin: 30px 0;
}
  
.join__box label {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #FFD437;
    padding: 0 5px;
}
  
.join__title {
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 5px 5px 2px #FFD437;
}
  